

.button {
  color: #AA8877;
}

.header {
  color: #CCAA99;
}

.footer {
  color: #887755;
}

.body {
  background-image: url(../pics/mars.jpg);
  background-color: #000000;
}

a:link {
 color: #887755;
}

a:visited {
 color: #887755;
}

a:hover {
 color: #CCAA99;
}

a:active {
 color: #887755;
}

.header-sub {
    color: #CCAA99
}

.article-sub {
    color: #AA8877
}
