
.buttonStyleMars {
  position: fixed;
  top: 5px;
  left: 5px;
  background: none transparent;
  border: hidden;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  width: 120px;
  font-size:10px;
  color: #AA8877;
}

.buttonStyleVik {
  position: fixed;
  top: 5px;
  left: 25px;
  background: none transparent;
  border: hidden;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  width: 120px;
  font-size:10px;
  color: #448877;
}

.button {
  position: fixed;
  background: none transparent;
  border: hidden;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  width: 120px;
  font-size:15px;
}

.header {
  position: fixed;
  top: 40px;
  left: 40px;
  background: none transparent;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  width: 350px;
  font-size:30px;
}

.iframe {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 125px;
  left: 200px;
  background: none transparent;
  border: 2px;
}

.nav {
  position: fixed;
  top: 120px;
  left: 40px;
}

.footer {
  position: fixed;
  bottom: 55px;
  left: 15px;
  font-size: 12px;
}

.article {
  width: 820px;
  height: 800px;
  position: fixed;
  top: 125px;
  left: 200px;
  font-size: 18px;
  visibility: hidden;
}

.body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.grid-concerts {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  overflow: auto;
  height: 700px;
}

.grid-bands {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-head {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.grid-item {
  padding: 7px;
  font-size: 18px;
  text-align: center;
}

.grid-bands-separator {
  grid-column: 1 / 6;
  text-align: center;
}

.grid-concerts-separator {
  grid-column: 1 / 7;
  text-align: center;
}
