

.button {
  color: #226655;
}

.header {
  color: #448877;
}

.footer {
  color: #006633;
}

.article {
  color: #226655
}

.body {
  background-image: url(../pics/vik.jpg);
  background-color: #000000;
}

a:link {
 color: #006633;
}

a:visited {
 color: #006633;
}

a:hover {
 color: #226655;
}

a:active {
 color: #006633;
}

.header-sub {
    color: #226655
}

.article-sub {
    color: #226655
}
